<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="">
            <i class="bi bi-cpu-fill me-2"></i> DocMiner
        </a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door"></i> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="relatorio-xml">
                <i class="bi bi-file-earmark-spreadsheet"></i> Relatório XML
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="configuracoes">
                <i class="bi bi-gear"></i> Configurações
            </NavLink>
        </div>
    </nav>
</div>
